﻿@model IEnumerable<ARQSI_It2_vs01.Models.Alerta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar Nova", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.AlertaId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.AlertaId }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.AlertaId })
        </td>
    </tr>
}

</table>
