﻿@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p class="lead">O Imorest &eacute; um serviço online que proporciona aos utilizadores um s&iacute;tio na Internet com o objetivo de facilitar a divulga&ccedil;&atilde;o de inten&ccedil;&otilde;es de venda, compra, permuta ou aluguer de im&oacute;veis atrav&eacute;s de um sistema de an&uacute;ncios classificados.</p>
