<strong>Module:</strong>        Mediador &raquo;
<strong>Controller:</strong>    Mediador &raquo;
<strong>Action:</strong>    	Config
 
 <?php
$title = 'Config server name/IP and application';
$this->headTitle($title);
?>
 <h1><?php echo $this->escapeHtml($title); ?></h1>
 <?php
 $form->prepare();

 echo $this->form()->openTag($form);
 echo $this->formRow($form->get('server'));
 echo $this->formSubmit($form->get('submit'));
 echo "<br><i>e.g. 192.168.1.120/WebApplication8</i>";
 
 echo $this->form()->closeTag();
 