<strong>Module:</strong>        Mediador &raquo;
<strong>Controller:</strong>    Mediador &raquo;
<strong>Action:</strong>        index

 <?php

 $title = 'Anuncios';
 $this->headTitle($title);
 ?>
 <h1><?php echo $this->escapeHtml($title); ?></h1>
 <p>
     <a href="<?php echo $this->url('mediador', array('action'=>'add'));?>">Add new anuncio</a>
 </p>

 <table class="table">
 <tr>
     <th>Nome</th>
     <th>&nbsp;</th>
 </tr>
 <?php foreach ($anuncios as $anuncio) : ?>
 <tr>
     <td><?php echo $this->escapeHtml($anuncio->nome);?></td>
     <td>
         <a href="<?php echo $this->url('mediador',
             array('action'=>'edit', 'id' => $anuncio->id));?>">Edit</a>
         <a href="<?php echo $this->url('mediador',
             array('action'=>'delete', 'id' => $anuncio->id));?>">Delete</a>
     </td>
 </tr>
 <?php endforeach; ?>
 </table>