<strong>Module:</strong>        Mediador &raquo;
<strong>Controller:</strong>    Mediador &raquo;
<strong>Action:</strong>    	Login
 
 <?php
$title = 'Login';
$this->headTitle($title);
?>
 <h1><?php echo $this->escapeHtml($title); ?></h1>
 <?php
 $form->setAttribute('action', $this->url('mediador', array('action' => 'Login')));
 $form->prepare();

 echo $this->form()->openTag($form);
 echo $this->formRow($form->get('username'));
 echo $this->formRow($form->get('password'));
 echo $this->formSubmit($form->get('submit'));
 echo $this->form()->closeTag();
 