﻿@model ARQSI_It2_vs01.Models.Anuncio

@{
    ViewBag.Title = "Delete";
}

<h2>Apagar</h2>

<h3>Tem a certeza deseja apagar?</h3>
<div>
    <h4>Anuncio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label col-md-2" for="name">Tipo</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_de_Anuncio.Nome)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="name">Cliente</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="name">Localiza&ccedil;&atilde;ol</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imovel.Nome)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="name">Tipo de Im&oacute;vel</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_de_Imovel.Nome)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="name">Nome</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="name">Pre&ccedil;o</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
