﻿@model IEnumerable<ARQSI_It2_vs01.Models.Anuncio>

@{
    ViewBag.Title = "Index";
}

<h2>Escolha An&uacute;ncio</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tipo
        </th>
        <th>
            Cliente
        </th>
        <th>
            Localiza&ccedil;&atilde;o
        </th>
        <th>
            Tipo de Im&oacute;vel
        </th>
        <th>
            Nome
        </th>
        <th>
            Pre&ccedil;o
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_de_Anuncio.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imovel.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_de_Anuncio.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.AnuncioId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.AnuncioId }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.AnuncioId })
        </td>
    </tr>
}

</table>
