﻿@model IEnumerable<ARQSI_It2_vs01.Models.Localizacao>

@{
    ViewBag.Title = "Index";
}

<h2>In&iacute;cio</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LocalizacaoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LocalizacaoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LocalizacaoId })
        </td>
    </tr>
}

</table>
