﻿@model IEnumerable<ARQSI_It2_vs01.Models.Imovel>

@{
    ViewBag.Title = "Index";
}

<h2>Im&oacute;vel</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Localizacao.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Localizacao.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ImovelId }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.ImovelId }) |
                @Html.ActionLink("Apagar", "Delete", new { id = item.ImovelId })
            </td>
        </tr>
    }

</table>
