/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/set/2015, 11:29:46
    Author     : Pedro Tavares
               : Paulo Costa
*/
body {
    font-family: Arial, sans-serif;
    color: #525D71;
}

@media only screen and (max-width: 600px) {
    /* For tablets: */
    body {
        font-size : 15px; 
    }
    .slider{
        display: table-row;
    }
    .caixa{
        display: table-row;
    }
}

@media only screen and (max-width: 480px) {
    /* For mobile phones: */
    body {
        font-size : 10px;
    }
    .slider{
        display: table-row;
    }
    .caixa{
        display: table-row;
    }
}

// responsive html
//.caixa{background-color: #0063ae} 

.caixa {
    float: left;
    margin: 5px;
    padding: 5px;    
    border: 0px solid #0063ae;
}
.slider{
    float: left;
    margin: 5px;
    padding: 5px;    
    border: 0px solid #0063ae;
}

#resultTabTrTh {
    background-color: #0063ae;
    text-align: center;
    color: white;
}

#resultTabTexto {
    background-color: #f4f2f2;
    text-align: center;    
}
#div2{
    margin: 10px auto;
    width: 60%; 
}

/*#facetaTitulo {
    text-align: center;
    color: red;
}*/

/*#facetaTexto {
    text-align: center;
    color: red;
}*/