﻿@model ARQSI_It2_vs01.Models.Anuncio

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>An&uacute;ncio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label col-md-2" for="name">Tipo</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_de_Anuncio.Nome)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="name">Cliente</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="name">Localiza&ccedil;&atilde;o</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imovel.Nome)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="name">Tipo de Im&oacute;vel</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_de_Imovel.Nome)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="name">Nome</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="name">Pre&ccedil;o</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="name">Validado</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Validado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.AnuncioId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
