﻿@model ARQSI_It2_vs01.Models.Parametro

@{
    ViewBag.Title = "Delete";
}

<h2>Apagar</h2>

<h3>Tem a certeza deseja apagar?</h3>
<div>
    <h4>Parametro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Alerta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alerta.Nome)
        </dd>

        <dt>
           Nome
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            Pre&ccedil;o
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            &Aacute;rea
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
