﻿@model ARQSI_It2_vs01.Models.Parametro

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Parametro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Alerta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alerta.Nome)
        </dd>

        <dt>
           Nome
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
           Pre&ccedil;o
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            &Aacute;rea
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ParametroId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
