﻿@{
    ViewBag.Title = "Imorest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align: center">
    <p class="lead">Bem-vindo</p>
    <p>Aqui pode gerir todos os seus an&uacute;ncios e alertas</p>


</div>

<div class="row">
    <div class="col-md-4">

        <a href="@Url.Action("Index", "Anuncio")" class="btn btn-primary btn-large btn-block " id="button1">
            <span class="glyphicons glyphicons-newspaper">📰</span> An&uacute;ncios
        </a>

    </div>
    <div class="col-md-4">
        <a href="@Url.Action("Index", "Tipo_de_Imovel")" class="btn btn-primary btn-large btn-block disabled">
            <span class="glyphicon glyphicon-home"></span> Tipos de Im&oacute;veis
        </a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("Index", "Alerta")" class="btn btn-primary btn-large btn-block ">
            <span class="glyphicon glyphicon-bell"></span> Alertas
        </a>
    </div>
</div>