﻿<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Widget</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/angular.js"></script>

</head>

<body>

    <p></p>

    <!--SCRIPT LOADING-->

    <script type="text/javascript" src="lib/angular-materialized/src/angular-materialize.js"></script>
    <script type="text/javascript" src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="lib/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="lib/angular-ranger/angular-ranger.js"></script>
    <script type="text/javascript" src="~/Scripts/app.js"></script>
    <script type="text/javascript" src="WidgetCtrl.js"></script>
    <link type="text/javascript" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" rel="stylesheet" />


    <script src="~/Scripts/materialize.js"></script>

    <link href="~/Scripts/style.css" rel="stylesheet" />
    <script src="~/Scripts/angular-materialize.js"></script>

    <script src="~/Scripts/angular-ranger.min.js"></script>
    <link href="~/Scripts/angular-ranger.css" rel="stylesheet" />



    <!--LOAD CSS STYLES-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <!--BOOTSTRAP CSS STYLE-->
    <!--GOOGLE FONTS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <!--GOOGLE ICONS-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



    <script type="text/javascript"
            src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script>


    <div class="container-fluid" id="widget" ng-controller="WidgetCtrl">
        <div class="row">
            <div class="col-sm-4" style="height:440px;width:250px; overflow:auto">
                @*<div class="container" ></div>*@
                <div class="sidebar-nav">
                    <div class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"
                                    ng-click="isCollapsed = !isCollapsed">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <span class="visible-xs navbar-brand">Sidebar menu</span>
                        </div>
                        <div collapse="isCollapsed"
                             class="navbar-collapse collapse sidebar-navbar-collapse">
                            <ul class="nav navbar-nav">


                                <!--DYNAMIC FILTERS SELECTORS-->
                                <!--SEARCH_TYPE FILTER-->
                                <p></p>
                                <select id="tipo_de_anuncio-filter" class="form-control" ng-model="query.tipo_de_anuncio"
                                        ng-options="item.tipo_de_anuncio as item.tipo_de_anuncio for item in awesomeRealEstates
                      | filter:{tipo_de_imovel:query.tipo_de_imovel || undefined }
                      | filter:{localizacao:query.localizacao || undefined }
                      | filter:{mediador:query.mediador || undefined }
                      | filter:priceRange || undefined
                      | filter:areaRange || undefined
                      | unique:'tipo_de_anuncio' " material-select watch>
                                    <option value>Escolha Tipo de Im&oacute;vel</option>
                                    <option ng-repeat="item in awesomeRealEstates| filter:{tipo_de_anuncio:query} "></option>
                                </select>


                                <!--TYPE FILTER-->
                                <p></p>
                                <select id="tipo_de_imovel-filter" class="form-control" ng-model="query.tipo_de_imovel"
                                        ng-options="item.tipo_de_imovel as item.tipo_de_imovel for item in awesomeRealEstates
                      | filter:{tipo_de_anuncio:query.tipo_de_anuncio || undefined}
                      | filter:{localizacao:query.localizacao || undefined}
                      | filter:{mediador:query.mediador || undefined}
                      | filter:priceRange || undefined
                      | filter:areaRange || undefined
                      | unique:'tipo_de_imovel' || undefined" material-select watch>
                                    <option value>Escolha Tipo</option>
                                    <option ng-repeat="item in awesomeRealEstates | filter:{tipo_de_imovel:query}"></option>
                                </select>


                                <!--ADDRESS FILTER-->
                                <p></p>
                                <select id="localizacao-filter" class="form-control" ng-model="query.localizacao"
                                        ng-options="item.localizacao as item.localizacao for item in awesomeRealEstates
                      | filter:{tipo_de_anuncio:query.tipo_de_anuncio || undefined}
                      | filter:{tipo_de_imovel:query.tipo_de_imovel || undefined}
                      | filter:{mediador:query.mediador || undefined}
                      | filter:priceRange || undefined
                      | filter:areaRange || undefined
                      | unique:'localizacao' || undefined" material-select watch>
                                    <option value>Escolha Localiza&ccedil;&atilde;o</option>
                                    <option ng-repeat="item in awesomeRealEstates | filter:{localizacao:query}"></option>
                                </select>


                                <!--BROKER FILTER-->
                                <p></p>
                                <select id="mediador-filter" class="form-control" ng-model="query.mediador"
                                        ng-options="item.mediador as item.mediador for item in awesomeRealEstates
                      | filter:{tipo_de_anuncio:query.tipo_de_anuncio || undefined}
                      | filter:{tipo_de_imovel:query.tipo_de_imovel || undefined}
                      | filter:{localizacao:query.localizacao || undefined}
                      | filter:priceRange
                      | filter:areaRange
                      | unique:'mediador'" material-select watch>
                                    <option value>Escolha Mediador</option>
                                    <option ng-repeat="item in awesomeRealEstates | filter:{mediador:query}"></option>
                                </select>

                                <!--CLEAR FILTERS-->
                                <p></p>
                                <p></p>
                                <p></p>

                                <div class="center-align">
                                    <a class="waves-effect waves-light btn" ng-click="clearFilter()">Limpar escolha </a>

                                </div>



                                <!--SLIDER SURFACE-->
                                @*<b>Area range:</b>*@
                                <angular-ranger min="0" max="25000" step="100" min-value="lower_area_bound"
                                                max-value="upper_area_bound"></angular-ranger>

                                <div id="textbox" style=" font-size: small">
                                    <p class="alignleft" style="float:left">Min: {{(lower_area_bound | number:0 ) + " m2"}} </p>

                                    <p class="alignright" style="float:right">Max: {{(upper_area_bound | number:0 ) + " m2"}}</p>
                                </div>
                                <div style="clear: both;"></div>


                                <!--SLIDER PRICE-->
                                @*<b>Price range:</b>*@
                                <angular-ranger min="0" max="250000" step="1000" min-value="lower_price_bound"
                                                max-value="upper_price_bound"></angular-ranger>

                                <div id="textbox2" style="font-size :small">
                                    <p class="alignleft" style="float:left">Min: {{(lower_price_bound | number:0 ) + " €"}} </p>

                                    <p class="alignright" style="float:right">Max: {{(upper_price_bound | number:0) + " €"}}</p>
                                </div>
                                <div style="clear: both;"></div>

                                <!--RESULTS-->
                                <p></p>
                                <div class="center-align">
                                    <a class="waves-light btn">
                                        <i class="material-icons right">done</i>{{filteredResults.length}} resultado
                                    </a>

                                    <p></p>
                                </div>

                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>


            <!--table materialize-->
            <div class="row">
                <div class="col-sm-6">
                    <div style="height:400px;width:650px; overflow:auto;">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th data-field="tipo_de_anuncio">Tipo de An&uacute;ncio</th>
                                    <th data-field="tipo_de_imovel">Tipo de Im&oacute;vel</th>
                                    <th data-field="localizacao">Localiza&ccedil;&atilde;o</th>
                                    <th data-field="mediador">Mediador</th>
                                    <th data-field="area">
                                        <a class="blue-text text-darken-2" href=""
                                           ng-click='predicate="area"'>&Aacute;rea(m2)</a>
                                    </th>
                                    <th data-field="preco">
                                        <a class="blue-text text-darken-2" href=""
                                           ng-click='predicate="preco"'>Pre&ccedil;o(€)</a>
                                    </th>
                                    <th data-field="fotos">Fotos</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="item in filteredResults =( awesomeRealEstates | orderBy:predicate | filter:query.tipo_de_anuncio  || undefined | filter:query.tipo_de_imovel  || undefined | filter:query.localizacao  || undefined| filter:query.mediador  || undefined | filter:priceRange | filter: areaRange)">
                                    <td>{{item.tipo_de_anuncio}}</td>
                                    <td>{{item.tipo_de_imovel}}</td>
                                    <td>{{item.localizacao}}</td>
                                    <td> {{item.mediador}}</td>
                                    <td> {{item.area}}</td>
                                    <td> {{item.preco}}</td>
                                    <td ng-repeat="fotos in item.fotos">
                                        <a class="blue-text text-darken-2" href={{fotos}}
                                           target="_blank">Photo</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>


</body>

</html>
