﻿@model ARQSI_It2_vs01.Models.Tipo_de_Imovel
@{
    ViewBag.Title = "Delete";
}
<h2>Apagar</h2>
<h3>Tem a certeza deseja apagar?</h3>
<div>
    <h4>Tipo de Im&oacute;vel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sub_Tipo_de_Imovel.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sub_Tipo_de_Imovel.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
