﻿@model IEnumerable<ARQSI_It2_vs01.Models.Tipo_de_Imovel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tipo de Im&oacute;vel
        </th>
        <th>
            Subtipo de Im&oacute;vel
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sub_Tipo_de_Imovel.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Tipo_de_ImovelId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Tipo_de_ImovelId }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.Tipo_de_ImovelId })
        </td>
    </tr>
}

</table>
