﻿@model IEnumerable<ARQSI_It2_vs01.Models.Parametro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Alerta
        </th>
        <th>
            Nome
        </th>
        <th>
            Pre&ccedil;o
        </th>
        <th>
            &Aacute;rea
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Alerta.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ParametroId }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.ParametroId }) |
                @Html.ActionLink("Apagar", "Delete", new { id = item.ParametroId })
            </td>
        </tr>
    }

</table>
