﻿@model ARQSI_It2_vs01.Models.Imovel

@{
    ViewBag.Title = "Edit";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Im&oacute;vel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ImovelId)

        <div class="form-group">
            @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocalizacaoId, "LocalizacaoId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LocalizacaoId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LocalizacaoId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@if (File.Exists(Server.MapPath("~/Imagens/" + Html.DisplayFor(modelItem => Model.Imagem))))
{
    <img alt="" src="~/Imagens/@Html.DisplayFor(modelItem => Model.Imagem)" />

    <form action="/Imovel/ApagarImagem" method="post" name="ApagarImagem">
        @Html.AntiForgeryToken()

        <input type="text" name="NomeImagem" value="@Html.DisplayFor(modelItem => Model.Imagem)" />

        <input class="tiny button" type="submit" value="Delete" />
    </form>
}
else
{
    <form action="/Imovel/CarregarImagem" enctype="multipart/form-data" method="post">
        <label for="photo">Escolha uma imagem:</label>
        <input class="tiny button" id="photo" type="file" name="Imagem" />
        <input class="tiny button" type="submit" value="Upload" />
        <input type="hidden" name="Imagens" value="@Html.DisplayFor(modelItem => Model.Imagem)" />
    </form>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
