﻿@model ARQSI_It2_vs01.Models.Tipo_de_Imovel
@{
    ViewBag.Title = "Details";
}
<h2>Detalhes</h2>
<div>
    <h4>Tipo de Im&oacute;vel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label col-md-2" for="name">Nome</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="name">Subtipo de Im&oacute;vel</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sub_Tipo_de_Imovel.Nome)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Tipo_de_ImovelId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
